* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

/*---------- NAVBAR -------------*/
nav {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  z-index: 999;
  background-color: #fff;
  justify-content: space-around;
  height: 60px;
  padding: 20px 0;
  color: #000;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;
}
nav .logo {
  font-size: 1.8rem;
}
nav .logo span {
  color: #f56200;
  font-size: 1.9rem;
}
nav ul {
  display: flex;
  width: 40%;
  justify-content: space-between;
}
nav ul li a {
  color: black;
  font-weight: 600;
}
nav ul li a:hover {
  color: #f56200;
  transition: 0.3s;
}
nav ul li a::after {
  content: "";
  display: block;
  border-bottom: 2px solid #f56200;
  border-radius: 25px;
  transform: scaleX(0);
}
nav ul li a:hover::after {
  transform: scaleX(0.7);
  transition: 0.5s;
}
/* Hamburger */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}
.menu-toggle span {
  display: block;
  background-color: rgb(160, 158, 158);
  width: 28px;
  height: 4px;
  border-radius: 3px;
  transition: all 0.3s;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -10px;
  top: -3px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: rgb(160, 158, 158);
  transform-origin: 0 0;
  transform: rotate(45deg) translate(-1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: rgb(160, 158, 158) ack;
  transform-origin: 0 0;
  transform: rotate(-45deg) translate(-5px);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: translate(-6px) scale(0);
  opacity: 0;
}
/* ----------NAVBAR STOP---------- */

section {
  padding: 100px 10%;
}

/* ----------HOME START----------- */

.home {
  min-height: 100vh;
  width: 100%;
  display: flex;
  background-image: url(../img/sam.png);
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}
.home-text {
  max-width: 100%;
}

.home-text h1 {
  font-size: 56px;
  font-weight: 700;
  text-transform: capitalize;
}
.home-text h3 {
  font-size: 24px;
  font-weight: 700;
  color: #f56200;
  text-transform: capitalize;
}

.home-text p {
  max-width: 490px;
  font-size: 20px;
  margin: 20px 0 40px;
  padding-top: 20px;
  text-align: justify;
}
.home-text .btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: transparent;
  border: 2px solid #f56200;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #f56200;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.home-text .btn-box a:hover {
  color: #fff;
  background-color: #f56200;
}

/* -----------HOME END----------- */

/* ---------ABOUT START---------- */

.about h2,
.portfolio h2,
.skill-edu h2 {
  font-size: 32px;
  margin-bottom: 4rem;
  text-align: center;
  margin: 50px;
}

.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  gap: 3rem;
}
.about span {
  color: #f56200;
}

.about-img img {
  max-width: 100%;
  width: 400px;
  height: auto;
}
.about-text {
  max-width: 600px;
}

.about-text h4 {
  font-size: 1.5rem;
  margin-top: 50px;
  margin-bottom: 15px;
}
.about-text h4 span {
  color: #f56200;
}
.about-text p {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}

/* --------ABOUT STOP---------- */

/* ---------SKILL GO------------ */
.skill-edu {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4rem;
  cursor: pointer;
}
.educa span {
  color: #f56200;
}
.education {
  font-size: 1rem;
  margin: 50px auto;
  border-left: 3px solid #f56200;
  padding-left: 30px;
  color: #f56200;
  text-align: left;
}
.education h4 {
  color: #1c1c1cc9;
}
.education h3 {
  font-weight: 600;
  font-size: 1.2rem;
}

.skill-col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));  
  gap: 1.5rem;
}
.col {
  padding: 10px;
  background: #f0f0f0;
  border-radius: 10px;
  transition: 0.2s;
  text-align: justify;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}
.col img {
  width: 100%;
  border-radius: 10px;
}
.col:hover {
  box-shadow: 0 10px 15 rgba(0, 0, 0, 0.2);
  transform: scale(1.1) translateY(-5px);
}
.col h4 {
  text-align: center;
  margin-top: 5px;
  font-size: 18px;
}
.col p {
  font-weight: 400;
}

/* ---------SKILL STOP------------ */

/* ---------PORT GO------------ */
.portfolio h2 {
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.portfolio span {
  color: #f56200;
}

.box-port {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  gap: 2.5rem;
  cursor: pointer;
}

.box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 20px 20px 20px;
  transition: 0.2s;
}

.box img {
  width: 100%;
  border-radius: 10px;
}

.box h3 {
  font-size: 1.1rem;
  padding: 10px;
}

.box p {
  margin-bottom: 30px;
  /* text-align: start; */
}

.btn {
  display: inline-block;
  background-color: #f56200;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  padding: 8px 22px;
}

.box .btn:hover {
  background-color: #ff9500;
  transform: scale(1.03);
}

.box:hover {
  box-shadow: 0 10px 15 rgba(0, 0, 0, 0.2);
  transform: scale(1.1) translateY(-5px);
}

/* -----------PORT STOP---------- */

/* -----------CONTACT GOWW---------- */
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 5rem;
}
.contact h2 {
  font-size: 32px;
  margin-bottom: 10px;
}
.contact h2 span {
  color: #f56200;
}
.contact h5 {
  font-weight: 600;
  font-size: 18px;
  margin: 20px;
}
.contact p {
  font-size: 18px;
  max-width: 60%;
  margin-bottom: 60px;
}
.sosial-icon i {
  position: relative;
  color: #f56200;
  font-size: 24px;
  height: 40px;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f56200;
  background-color: transparent;
  border-radius: 50px;
  margin-bottom: 40px;
  margin-right: 10px;
  transition: all 0.42s;
}
.sosial-icon i:hover {
  transform: translateY(-5px);
  background-color: #f56200;
  color: #fff;
}

.contact-form form input {
  position: relative;
  transition: 0.3s;
}
.contact-form form input,
form textarea {
  font-family: "poppins";
  width: 100%;
  padding: 18px;
  border: none;
  outline: none;
  background: #e2e0e0;
  color: black;
  font-size: 17px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.contact-form textarea {
  resize: none;
  height: 220px;
}

.contact-form .btn {
  font-family: "poppins";
  display: inline-block;
  font-weight: 600;
  font-size: 1.1rem;
  border: 2px;
  background: #e1e0de;
  color: #000;
  border-radius: 8px;
  width: 100%;
  padding: 10px;
  transition: ease 0.2s;
  cursor: pointer;
}

.contact-form form .btn:hover {
  color: #fff;
  background: #f56200;
  transform: scale(1.03);
}

.footer {
  background-color: #f56200;
  padding: 10px;
  text-align: center;
}
.footer p {
  font-size: 0.9rem;
  color: #fff;
}

.success-message {
  display: none;
  color: #4caf50;
  font-weight: bold;
  margin-top: 10px;
}

/* -----------CONTACT STOP---------- */

/* RESPONSIVE */

@media screen and (max-width: 768px) {
  nav ul {
    width: 60%;
  }

  .skill-edu {
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
  }
  .skill-col {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .contact {
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
  }
  .contact-text,
  .contact-form {
    max-width: 100%;
  }
  */ .sosial-icon {
    margin-bottom: 10px;
  }

  .contact h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
  }

  .contact h5 {
    font-size: 1rem;
    margin: 10px;
  }
  .contact p {
    max-width: 100%;
  }

  .sosial-icon i {
    height: 36px;
    width: 36px;
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-right: 4px;
  }

  .contact-form form .btn {
    width: 30%;
  }
}

@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 30vh;
    border-radius: 0 0 20px 20px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #e1e0de;
    font-size: 18px;
    transform: translateY(-100%);
    transition: all 1s;
    opacity: 0;
  }
  nav ul.slide {
    opacity: 1;
    transform: translateY(0);
  }
  .home {
    max-width: 100%;
  }
  .home-text h1 {
    font-size: 1.8rem;
    transition: 0.3s;
  }
  .educa h2 {
    font-size: 1.7rem;
  }
  .educa a {
    font-size: 1.1rem;
  }
  .educa {
    margin-bottom: 30px;
  }

  .home-text h3 {
    font-size: 1.1rem;
  }
  .home-text p {
    font-size: 1rem;
  }
  .about p {
    font-size: 1rem;
    text-align: justify;
  }
  .about h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
  }
  .about h4 {
    font-size: 1.2rem;
  }
}
